<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <%- include('../common/head.ejs') %>

  <body>
    <!-- banner-body -->
    <div class="banner-body">
      <div class="container">
        <!--Navbar area-->
        <%- include('../common/navbar.ejs') %>

        <!-- header-bottom start -->
        <div class="header-bottom">
          <div class="header-bottom-top">
            <ul>
              <li>
                <a href="#" class="g"> </a>
              </li>
              <li>
                <a href="#" class="p"> </a>
              </li>
              <li>
                <a href="#" class="facebook"> </a>
              </li>
              <li>
                <a href="#" class="twitter"> </a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <!-- banner -->
          <div class="banner">
            <!-- Slider-starts-Here -->
            <script src="js/responsiveslides.min.js"></script>
            <script>
              // You can also use "$(window).load(function() {"
              $(function () {
                // Slideshow 4
                $("#slider3").responsiveSlides({
                  auto: true,
                  pager: false,
                  nav: true,
                  speed: 500,
                  namespace: "callbacks",
                  before: function () {
                    $(".events").append("<li>before event fired.</li>");
                  },
                  after: function () {
                    $(".events").append("<li>after event fired.</li>");
                  },
                });
              });
            </script>
            <!--//End-slider-script -->
            <div
              id="top"
              class="callbacks_container wow fadeInUp"
              data-wow-delay="0.5s"
            >
              <ul class="rslides" id="slider3">
                <% banners.forEach((value) =>{ %>
                <li>
                  <div class="banner-inf">
                    <h3><%= value.title %></h3>
                    <p><%= value.description %></p>
                    <a href="single.html">See More</a>
                  </div>
                </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <!-- //banner -->

          <!-- blog -->
          <div class="blog">
            <div class="blog-left">
              <% blogs.slice(0,blogs.length).reverse().forEach((value) =>{ %>
              <div class="blog-left-grid">
                <div class="blog-left-grid-left">
                  <h3><a href="single.html"><%= value.title %></a></h3>
                  <p>
                    by <span>Admin</span> | <%= new
                    Date(value.createdAt).toLocaleString('en-US', { year:
                    'numeric', month: 'long', day: 'numeric', hour: 'numeric',
                    minute: 'numeric', hour12: true, }) %> | <span>Sint</span>
                  </p>
                </div>
                <div class="blog-left-grid-right">
                  <a
                    href="/blogdetails/<%=value._id %>"
                    class="hvr-bounce-to-bottom non"
                    ><%= value.comments.length > 1 ? value.comments.length + ' comments' : value.comments.length + ' comment' %></a
                  >
                </div>
                <div class="clearfix"></div>
                <a href="single.html"
                  ><img
                    src="http://localhost:3004/<%= value.image %>"
                    alt=" "
                    class="img-responsive"
                /></a>
                <p class="para"><%= value.description.slice(0,500) %></p>
                <div class="rd-mre">
                  <a
                    href="/blogdetails/<%=value._id %>"
                    class="hvr-bounce-to-bottom quod"
                    >Read More</a
                  >
                </div>
              </div>
              <% }) %>
            </div>
            <div class="blog-right">
              <div class="sap_tabs">
                <div
                  id="horizontalTab"
                  style="display: block; width: 100%; margin: 0px"
                >
                  <ul class="resp-tabs-list">
                    <li
                      class="resp-tab-item grid1"
                      aria-controls="tab_item-0"
                      role="tab"
                    >
                      <span>Popular</span>
                    </li>
                    <li
                      class="resp-tab-item grid2"
                      aria-controls="tab_item-1"
                      role="tab"
                    >
                      <span>Recent</span>
                    </li>
                    <li
                      class="resp-tab-item grid3"
                      aria-controls="tab_item-2"
                      role="tab"
                    >
                      <span>Comments</span>
                    </li>
                    <div class="clear"></div>
                  </ul>
                  <div class="resp-tabs-container">
                    <div
                      class="tab-1 resp-tab-content"
                      aria-labelledby="tab_item-0"
                    >
                      <% let count = 0; %> <%
                      blogs.slice(0,blogs.length).reverse().forEach((value) => {
                      %> <% if (count >= 4) return; %>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href=""
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="http://localhost:3004/<%= value.image %>"
                              alt=" "
                              class="img-responsive"
                              style="height: 80px; width: 80px"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#"><%= value.title %></a>
                          <p>
                            <span><%= value.description.slice(0,10) %></span>
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <% count++; %> <% }) %>
                    </div>
                    <div
                      class="tab-1 resp-tab-content"
                      aria-labelledby="tab_item-1"
                    >
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/8-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/8.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/9-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/9.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/10-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/10.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/7-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/7.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div
                      class="tab-1 resp-tab-content"
                      aria-labelledby="tab_item-2"
                    >
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/9-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/9.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/10-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/10.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/7-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/7.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                      <div class="facts">
                        <div class="tab_list">
                          <a
                            href="images/8-.jpg"
                            class="b-link-stripe b-animate-go swipebox"
                            title=""
                          >
                            <img
                              src="images/8.jpg"
                              alt=" "
                              class="img-responsive"
                            />
                          </a>
                        </div>
                        <div class="tab_list1">
                          <a href="#">excepturi sint occaecati</a>
                          <p>
                            June 30,2015<span
                              >Nam libero tempore, cum soluta nobis.</span
                            >
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <script
                    src="js/easyResponsiveTabs.js"
                    type="text/javascript"
                  ></script>
                  <script type="text/javascript">
                    $(document).ready(function () {
                      $("#horizontalTab").easyResponsiveTabs({
                        type: "default", //Types: default, vertical, accordion
                        width: "auto", //auto or any width like 600px
                        fit: true, // 100% fit in a container
                      });
                    });
                  </script>
                  <link rel="stylesheet" href="css/swipebox.css" />
                  <script src="js/jquery.swipebox.min.js"></script>
                  <script type="text/javascript">
                    jQuery(function ($) {
                      $(".swipebox").swipebox();
                    });
                  </script>
                </div>
              </div>
              <div class="newsletter">
                <h3>Subscribe To Our Newsletter</h3>
                <form>
                  <input
                    type="text"
                    value="Email Address"
                    onfocus="this.value = '';"
                    onblur="if (this.value == '') {this.value = 'Email Address';}"
                    required=""
                  />
                  <input type="submit" value="Send" />
                </form>
              </div>
              <div class="four-fig">
                <div class="four-fig1">
                  <a
                    href="images/11-.jpg"
                    class="b-link-stripe b-animate-go swipebox"
                    title=""
                  >
                    <img src="images/11.jpg" class="img-responsive" alt=" " />
                  </a>
                </div>
                <div class="four-fig1">
                  <a
                    href="images/14-.jpg"
                    class="b-link-stripe b-animate-go swipebox"
                    title=""
                  >
                    <img src="images/14.jpg" class="img-responsive" alt=" " />
                  </a>
                </div>
                <div class="four-fig1">
                  <a
                    href="images/10-.jpg"
                    class="b-link-stripe b-animate-go swipebox"
                    title=""
                  >
                    <img src="images/21.jpg" class="img-responsive" alt=" " />
                  </a>
                </div>
                <div class="four-fig1">
                  <a
                    href="images/8-.jpg"
                    class="b-link-stripe b-animate-go swipebox"
                    title=""
                  >
                    <img src="images/22.jpg" class="img-responsive" alt=" " />
                  </a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="pgs">
                <h3>Pages</h3>
                <ul>
                  <li><a href="#">doloribus asperiores repellat</a></li>
                  <li><a href="#">Itaque earum rerum hic tenetur</a></li>
                  <li><a href="#">deserunt mollitia laborum et dolorum</a></li>
                  <li><a href="#">facilis est et expedita distinctio</a></li>
                  <li><a href="#">occaecati cupiditate non provident</a></li>
                  <li><a href="#">deserunt mollitia laborum et dolorum</a></li>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <!-- //blog -->
        </div>
        <!-- //header-bottom -->
      </div>
    </div>
    <!-- //banner-body -->
    <%- include('../common/footer.ejs') %>
  </body>
</html>
